.Bloque-padre {
  grid-area: cuatro;
  display: flex;
}

.Bloque-dos {
  width: 7vw;
  &__sub {
    font-size: 0.56em;
  }

  &__contenedor {
    margin-bottom: 0.2em;
    margin-top: 0.2em;

    z-index: 3444;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__seccio {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.6em;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #ffffff2a;
      cursor: pointer;
    }
  }

  &__seccion {
    display: flex;
    align-items: center;

    &:hover {
      background-color: #ffffff2a;
      cursor: pointer;
    }
  }
  &__you {
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }

  &__img {
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    margin-right: 0.3em;
    display: flex;
    align-items: center;

    &--redondo {
      border-radius: 50%;
      width: 2em;
      height: 2em;
      object-fit: cover;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      &::after {
        content: "===er54gt4er ";
        color: red;
        border-radius: 50%;
        width: 0.4em;
        height: 0.4em;
      }
    }
  }

  &__contenido {
    display: none;
  }
  &__span {
    font-size: 1em;
    margin-left: 0.4em;
    &--titulo {
      font-size: 1.3em;
      margin-bottom: 0.4em;
      margin-top: 0.4em;
      margin-left: 0.8em;

      word-spacing: 0.3em;
    }
    &--transparente {
      font-size: 0.9em;
      opacity: 0.8;
      margin-left: 1em;
    }
    &--transparented {
      font-size: 0.8em;
      opacity: 0.4;
      margin-left: 1em;
    }
  }
}

.Bloque-fantasma {
  width: 1.4em;
  height: 1.2em;
  position: absolute;
  top: 1.2em;
  left: 1.2em;
  margin-right: 1em;
  opacity: 0;
  cursor: pointer;
  z-index: 33333;
}
.Bloque-fantasma:active
  ~ .Bloque-uno
  > .Bloque-uno__picture
  > .Bloque-uno__icono {
  background-color: rgba(255, 255, 255, 0.367);
  border-radius: 50%;
  width: 1em;
  height: 1.3em;
}

.Bloque-fantasma:checked ~ .Bloque-padre > .Bloque-dos {
  width: 15em;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Bloque-fantasma:checked
  ~ .Bloque-padre
  > .Bloque-dos
  > .Bloque-dos__contenedor {
  font-size: 1.8em;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    background-color: #ffffff2a;
  }
  & > * {
    margin-right: 0.3em;
  }
}
.Bloque-fantasma:checked
  ~ .Bloque-padre
  > .Bloque-dos
  > .Bloque-dos__contenido {
  display: contents;
}
