.bloque-tres {
  display: grid;
  overflow-y: scroll;

  grid: {
    template-columns: repeat(4, 1fr);
    template-rows: repeat(3, 1fr);
  }

  &-figure {
    color: white;
    max-width: 120%;
    height: 100%;

    &__img {
      aspect-ratio: 4/3;
      width: 110%;
      object-fit: cover;
      border-radius: 1em;
    }
    &__icono {
      aspect-ratio: 1/1;
      width: 10%;
      height: auto;
      border-radius: 50%;
    }
  }
}
